.gallery {
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 100%;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.7);
  transition-duration: 700ms;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#header .title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#header h1  {
  width: 90%;
  padding-left: 5rem;
  height: min-content;
  text-align: center;
}

#header button {
  margin-right: 2rem;
  height: min-content;
}

#closeButton {
  background-color: transparent;
  border: none;
  
  }
#closeButton img{
  height: 3rem;
  width: 3rem;
}

#header .searchBar {
  width: 50%;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBar {
  margin: auto;
   width: 50%; 
   margin-bottom: 1rem;
   background-color: rgba(255, 255, 255, 0.3);
   color: aliceblue;
   border: none;
   border-radius: 10px;
   font-size: medium;
   padding-left: 1rem;
}

.searchBar #filters {
  width: 50%;
  margin: auto;
}
#filters button {
  width: fit-content;
  padding: 0 0.5rem 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: aliceblue;
  border: none;
  border-radius: 10px;
  font-size: medium;

}


/* GALLERY IMAGES */

#galleryImages {
  width: 60vw;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 75vh;
  overflow: auto;
  /* background-color: black; */
}
/* IMAGE PREVIEW  */
.imagePreviewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
 width: 100%;
}

.imagePreviewContainer img {  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* IMAGE SWIPER */

.imageSwiper {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

}
.imageSwiperHeader {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 10%;
  margin-top: 2rem;
}

.imageSwiperHeader button {
  height: 40px;
}

.imageSwiperBody{
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.imageDetailBody {
  width: 60%;  
}

.imageDetailBody img{
  object-fit: scale-down;  
}

.imageDetailBody p {
  text-align: center;
}



