@font-face {
  font-family: Karla;
  src: url(../src/fonts/karla/Karla[wght].ttf);
}

body {
  font-family: Karla;
  margin: 0;
}

#issBackground {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/ISS-wallpaper.jpg);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#header_container{
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  justify-content: space-between;
  height: 10%;
}

#nasa_logo_container{
  color: white;
  display: flex;
  flex-direction: row;
  gap: 3%;
  height: 8%;
  width: 25%;
  min-height: 50px;
}

#logo_img{
  height: auto;
}

#logo_text_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: auto;
}

#nasa_title{
  font-weight: 200;
  font-size: larger;
  display: flex;
  align-items: center;
  height: auto;
  margin: 0;

}

#nasa_text{
  font-weight: 200;
  font-size: medium;
  display: flex;
  align-items: center;
  height: auto;
  margin: 0;
  opacity: 0.7;
}

#ISS_title_container{
  height: auto;
  width: 40%;
}

#ISS_title{
  font-family: Karla;
  font-weight: 200;
  text-align: end;
  color: white;
  margin: 0;
}

#ISS_title_text{
  font-family: Karla;
  font-size: medium;
  font-weight: 200;
  text-align: end;
  opacity: 0.7;
  color: white;
  margin: 0;
}

