@font-face {
  font-family: Karla;
  src: url(../src/fonts/karla/Karla[wght].ttf);
}

body {
  font-family: Karla;
  margin: 0;
}


/*  --->  NASA LOGO COMPONENT  */

#nasa_logo_container{
  color: white;
  display: flex;
  flex-direction: row;
  gap: 3%;
  height: 70%;
  min-height: 60px;
  width: 25%;
  
}

#logo_img{
  height: auto;
}

#logo_text_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: auto;
}

#nasa_title{
  font-weight: 200;
  font-size: larger;
  display: flex;
  align-items: center;
  height: auto;
  margin: 0;

}

#nasa_text{
  font-weight: 200;
  font-size: medium;
  display: flex;
  align-items: center;
  height: auto;
  margin: 0;
  opacity: 0.7;
}

/*  ---> NASA LOGO COMPONENT : END  */

/*  --->  NAV_BAR COMPONENT */

#navbar_container{
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
  right: 6%;
  left: 6%;
  color: white;
  display: flex;
  flex-direction: column;
  width: 88%;
}

#navtitle_container{
  display: flex;
  flex-direction: row;
}

.section_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 25%;
}

.diamond_svg{
  height: 35%;
}

.nav_title{
  font-weight: 200;
  font-size: larger;
}

.section_bar{
  position: absolute;
  width: 25%;
  height: 0px;
}

#topics_bar{
  left: 0;
  border: 1.5px solid blue;
}

#gallery_bar{
  left: 25%;
  border: 1.5px solid white;
}

#solar_bar{
  left: 50%;
  border: 1.5px solid blue;
}

#ISS_bar{
  left: 75%;
  border: 1.5px solid white;
}


#progression_bar{
  width: auto;
  height: 0px;
  border: 1.5px solid white;
  opacity: 0.2;

}

/*  --->  NAVBAR COMPONENT : END  */

/*  --->  SOLAR SYSTEM PAGE */

#solar_system_background{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/solar-system-wallpaper.jpg);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#solar_system_svg{
  position: absolute;
  width: 70%;
  height: 70%;
  left: 20%;
}

/*  ---> ISS PAGE */

#issBackground {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/ISS-wallpaper.jpg);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#map_img{
  position: absolute;
  width: 70%;
  height: auto;
  left: 15%;
  right: 15%;
  top: 20%;
}

#header_container{
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  justify-content: space-between;
  height: 10%;
}

#ISS_title_container{
  height: auto;
  width: 40%;
}

#ISS_title{
  font-family: Karla;
  font-weight: 200;
  text-align: end;
  color: white;
  margin: 0;
}

#ISS_title_text{
  font-family: Karla;
  font-size: medium;
  font-weight: 200;
  text-align: end;
  opacity: 0.7;
  color: white;
  margin: 0;
}

/*  --->  ISS PAGE : END  */


