@media only screen and (max-width: 430px) {

#navbar_container{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 10.7vh;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.icon_container{
    display: flex;
    justify-content: center;
    gap: 12vw;
    width: 100vw;
}
}

@media (max-width: 730px) {

  /* IMAGE GALLERY */
  .gallery {
    transition-duration: 00ms;
  }

/* GALLERY HEADER */

#header {
  display: flex;
  flex-direction: row;
  justify-content: start;
}


/* GALLERY HEADER : TITLE */

#header h1  {
  display: none;
}

/* GALLERY HEADER :SEARCH */

#header .searchBar {
  margin-top: 5rem;
  margin-left: 5%;
  width: 80%;
  align-items: start;
  }

#searchBar{
  width: 60%;
  height: 1.5rem;
  margin-bottom: 0.5rem;

}

#searchBar:focus {
  outline: none;
}

.searchBar #filters {
  width: 70%;
  margin-left: 2.5%;
}

#filters button {
  padding: 2px 4px 2px 4px;
}


  /* GALLERY GRID */

#galleryImages {
  width: 100vw;
  max-height: 60vh;
  column-gap: 0.2rem;
  row-gap: 0.2rem;

}
/* GALLERY GRID : IMAGE PREVIEW  */

.imagePreviewContainer {
  width: 100%;
}

/* IMAGE SWIPER */

.imageSwiperBody {
  width: 100%;
  height: 80%;
}

.imageDetailBody {
  margin-top: 13vh;  
}

.imageDetailBody img{
  object-fit: scale-down;
  width: 100%;
  }


.imageSwiperBody svg{
  height: 3rem;
  opacity: 0.5;
}


#swiperButtonNext {
  bottom: 50vh;
  right:2vw;
}

#swiperButtonPrevious {  
  bottom: 50vh;
  left:2vw;
}

.imageDetailFooter {
  width: 100%;
}

.imageDetailFooter h2 {
 width: 95%;
}

.imageDetailFooter p {
  opacity: 0.5;
}
}