@media only screen and (max-width: 430px) {

.scrollbox-inner{
        width: 100%; 
        height: 100vh;
        color: white;
        background-color:black;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        text-align:left;
        top:0;
        overflow: scroll;
        margin-top:1vh;
        margin-right: 0;
      }

.scrollbox-inner::-webkit-scrollbar{
    width: 2px;
} 
      
.scrollbox-inner::-webkit-scrollbar-thumb {
   background-color: white;
}  

#scrollbox{
        display: flex;
        justify-content: flex-end;
        position : relative;
        z-index: 2;
      } 
      
#article{
        display:flex;
        border : 2px solid #4E545D;
        flex-direction: column;
      }

#sidebar-title{
        padding-bottom: 4vh;
        text-align: start;
        color: white;
        top:0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10vh;
        margin-right: 0;
      }
#sidebar-title h1, #nasaEvent_date{
  margin-right: 3vw;
}

#sidebar-title h1{
  margin-top: 4vh;
}

.articles_css{
        width: 100%;
      }
      
    #titleArticles {
      border : 10px;
      border-left-style: solid ;
      border-left-color:white;
      padding-bottom: 1px;
      padding-left:8px;
      }
}
@media only screen and (max-width: 430px) {
/* NAV BAR ---> */
#navbar_container{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 10.7vh;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
}
.icon_container{
    display: flex;
    justify-content: center;
    gap: 10vw;
    width: 100vw;
}

/* SOLAR SYSTEM ---> */
#solar_system_page{
  background-position: center;
}

#solar_system_title{
  margin-top: 5vh;
  margin-left: 4vw;
}

#solar-sm-container{
  margin-left: 3vh;
  margin-right: 3vh;
}

/* ARROW SOLAR SYSTEM */
#solar-arrows-container{
  display: flex;
  justify-content: space-between;
  width: 92vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

#solar-arrows-container div:nth-child(2){
  display: flex;
  align-items: flex-end;
}

#solar-arrow-L, #solar-arrow-R{
  height: 30px;
  width: 30px;
}

.arrow-txt-container{
  display: flex;
  flex-direction: column;
  color: white;
}

.arrow-txt-container p{
  opacity: 0.6;
}

.path-sm-off{
  opacity: 0.3;
  stroke-width: 1;
  transition: 200ms;
}

/* PLANETS CSS --> */
.planets{
  height: 11px;
  width: 11px;
}

#sun{
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  margin-top: 157px;
  margin-left: 196px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF4B9 56.77%, rgba(255, 153, 0, 0) 100%);
}

/* PLANET MOTION --> */

#motion_mercury {
  background: radial-gradient(50% 50% at 50% 50%, #A96F00 77.08%, rgba(47, 47, 47, 0) 100%);
  offset-path: path("M198.652 89.0705C198.652 89.9709 198.234 90.8689 197.396 91.73C196.556 92.5933 195.316 93.3937 193.744 94.0766C190.603 95.4419 186.228 96.2987 181.369 96.2987C176.511 96.2987 172.136 95.4419 168.995 94.0766C167.423 93.3937 166.183 92.5933 165.343 91.73C164.505 90.8689 164.087 89.9709 164.087 89.0705C164.087 88.1701 164.505 87.272 165.343 86.411C166.183 85.5477 167.423 84.7473 168.995 84.0644C172.136 82.6991 176.511 81.8423 181.369 81.8423C186.228 81.8423 190.603 82.6991 193.744 84.0644C195.316 84.7473 196.556 85.5477 197.396 86.411C198.234 87.272 198.652 88.1701 198.652 89.0705Z");  
  animation: movemercury 7.3s linear infinite;
  z-index: 1;
}

#motion_venus{
  background: radial-gradient(50% 50% at 50% 50%, #FF9900 82.29%, rgba(166, 60, 0, 0) 100%);
  offset-path: path("M216.646 89.8841C216.646 91.6366 215.746 93.3591 214.003 94.9802C212.259 96.6018 209.709 98.0853 206.516 99.3415C200.132 101.853 191.28 103.417 181.476 103.417C171.672 103.417 162.82 101.853 156.436 99.3415C153.243 98.0853 150.693 96.6018 148.949 94.9802C147.207 93.3591 146.306 91.6366 146.306 89.8841C146.306 88.1315 147.207 86.409 148.949 84.7879C150.693 83.1663 153.243 81.6828 156.436 80.4266C162.82 77.9154 171.672 76.3512 181.476 76.3512C191.28 76.3512 200.132 77.9154 206.516 80.4266C209.709 81.6828 212.259 83.1663 214.003 84.7879C215.746 86.409 216.646 88.1315 216.646 89.8841Z");
  animation: move 18.5s linear infinite;
  z-index: 0;
}

#motion_earth{
  offset-path: path("M234.431 90.9017C234.431 93.6382 233.031 96.2972 230.388 98.7695C227.745 101.243 223.893 103.493 219.091 105.393C209.49 109.192 196.192 111.553 181.478 111.553C166.764 111.553 153.466 109.192 143.865 105.393C139.063 103.493 135.211 101.243 132.568 98.7695C129.925 96.2972 128.525 93.6382 128.525 90.9017C128.525 88.1652 129.925 85.5062 132.568 83.0339C135.211 80.5609 139.063 78.3107 143.865 76.4106C153.466 72.6115 166.764 70.2507 181.478 70.2507C196.192 70.2507 209.49 72.6115 219.091 76.4106C223.893 78.3107 227.745 80.5609 230.388 83.0339C233.031 85.5062 234.431 88.1652 234.431 90.9017Z");
  background: radial-gradient(50% 50% at 50% 50%, #0075FF 82.29%, rgba(166, 60, 0, 0) 100%);
  animation: move 30s linear infinite;
}

#motion_mars{
  offset-path: path("M246.11 92.9544C246.11 96.3971 244.355 99.7285 241.069 102.812C237.783 105.896 233 108.697 227.048 111.059C215.148 115.783 198.674 118.716 180.452 118.716C162.229 118.716 145.755 115.783 133.855 111.059C127.903 108.697 123.12 105.896 119.834 102.812C116.548 99.7285 114.793 96.3971 114.793 92.9544C114.793 89.5117 116.548 86.1803 119.834 83.0968C123.12 80.0125 127.903 77.2119 133.855 74.8494C145.755 70.1256 162.229 67.1929 180.452 67.1929C198.674 67.1929 215.148 70.1256 227.048 74.8494C233 77.2119 237.783 80.0125 241.069 83.0968C244.355 86.1803 246.11 89.5117 246.11 92.9544Z");
  background: radial-gradient(50% 50% at 50% 50%, #A63C00 79.17%, rgba(166, 60, 0, 0) 100%);
  animation: move 56.4s linear infinite;
  z-index: 1;
}

#motion_jupiter{
  background: radial-gradient(50% 50% at 50% 50%, #E7B400 82.29%, rgba(231, 180, 0, 0) 100%);
  offset-path: path("M271.629 99.2691C271.629 104.026 269.065 108.617 264.296 112.852C259.528 117.087 252.6 120.924 243.997 124.156C226.793 130.619 202.992 134.626 176.679 134.626C150.365 134.626 126.564 130.619 109.361 124.156C100.757 120.924 93.829 117.087 89.061 112.852C84.2924 108.617 81.728 104.026 81.728 99.2691C81.728 94.5122 84.2924 89.9209 89.061 85.6857C93.829 81.4509 100.757 77.6144 109.361 74.3823C126.564 67.9195 150.365 63.912 176.679 63.912C202.992 63.912 226.793 67.9195 243.997 74.3823C252.6 77.6144 259.528 81.4509 264.296 85.6857C269.065 89.9209 271.629 94.5122 271.629 99.2691Z");
  animation: move 330s linear infinite;
}

#motion_saturn{
  height: 25px;
  width: 25px;
  offset-path: path("M301.93 103.687C301.93 110.033 298.544 116.136 292.293 121.745C286.043 127.354 276.97 132.428 265.716 136.699C243.212 145.241 212.09 150.534 177.688 150.534C143.286 150.534 112.163 145.241 89.6589 136.699C78.4051 132.428 69.3324 127.354 63.0821 121.745C56.8315 116.136 53.4453 110.033 53.4453 103.687C53.4453 97.3422 56.8315 91.2392 63.0821 85.6301C69.3324 80.0213 78.4051 74.9472 89.6589 70.6758C112.163 62.1343 143.286 56.8409 177.688 56.8409C212.09 56.8409 243.212 62.1343 265.716 70.6758C276.97 74.9472 286.043 80.0213 292.293 85.6301C298.544 91.2392 301.93 97.3422 301.93 103.687Z");
  animation: move 884s linear infinite;
}

#motion_uranus{
  offset-path: path("M325.414 106.339C325.414 113.89 321.442 121.139 314.138 127.789C306.833 134.44 296.235 140.452 283.097 145.511C256.823 155.629 220.493 161.897 180.339 161.897C140.185 161.897 103.855 155.629 77.582 145.511C64.4437 140.452 53.8458 134.44 46.5411 127.789C39.2365 121.139 35.2645 113.89 35.2645 106.339C35.2645 98.7878 39.2365 91.5384 46.5411 84.8881C53.8458 78.2376 64.4437 72.2255 77.582 67.1662C103.855 57.0488 140.185 50.7805 180.339 50.7805C220.493 50.7805 256.823 57.0488 283.097 67.1662C296.235 72.2255 306.833 78.2376 314.138 84.8881C321.442 91.5384 325.414 98.7878 325.414 106.339Z");
  background: radial-gradient(50% 50% at 50% 50%, #3EB7AF 82.29%, rgba(166, 60, 0, 0) 100%);
  animation: move 2520s linear infinite;
}

#motion_neptune{
  offset-path: path("M19.2885 147.94C16.7441 139.425 18.6599 130.098 24.406 120.488C30.1528 110.876 39.7083 101.022 52.352 91.4989C77.6369 72.4536 115.188 54.791 159.013 43.0481C202.838 31.3052 244.595 27.7173 276.67 31.3931C292.708 33.2312 306.3 36.8826 316.513 42.2179C326.725 47.5525 333.518 54.5459 336.062 63.0604C338.606 71.5748 336.691 80.9017 330.945 90.5123C325.198 100.124 315.642 109.978 302.999 119.501C277.714 138.546 240.163 156.209 196.338 167.952C152.513 179.695 110.756 183.283 78.6811 179.607C62.6422 177.769 49.0511 174.117 38.8377 168.782C28.6256 163.448 21.8328 156.454 19.2885 147.94Z");
  background: radial-gradient(50% 50% at 50% 50%, #6F7DFF 82.29%, rgba(166, 60, 0, 0) 100%);
  animation: moveneptune 4950s linear infinite;
}

/* PLANETS CARD --> */
#planet_card_container{
  position: initial;
  width: 100vw;
  margin-top: 3vh;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 92vw;
}

#planet_title{
  margin-bottom: 5px;
}

#planet_text_title{
  margin-top: 5px;
  opacity: 0.6;
}

#planet_description{
  width: 70vw;
  opacity: 0.6;
}

#distances_container{
  display: flex;
  flex-direction: column;
  align-items: end;
}

#distance_number, #mesure_unity{
  width: 40vw;
  text-align: end;
  margin-bottom: 5px;
}

#planet_img_container{
  margin-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#planet_img{
  height: 12vh;
  width: 30vw;
}


/* ISS Title --> */
#ISS_title_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0;
}

#iss_title{
  text-align: center;
  width: 50vw;
  margin-bottom: 5px;
}

#ISS_title_text{
  text-align: center;
  width: 70vw;
}

/* IMG OTD --> */
#up_down_arrow{
  display: none;
}

.img_otd_button_container{
  display: none;
}

/* IMG OTD PAGE --> */

#Imageotd_popup{
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  left: 0;
}

#header_container .close_button{
  display: none;
}


#header_container{
  margin-top: 4vh;
  margin-left: 4vw;
}

#imgotd_overflow{
  width: 100vw;
  margin: 0;
  height: 78vh;
  bottom: 0;
  top: initial;
}

#imgotd_body{
  width: 100%;
  margin-top: 0;
  
}

#Archives{
  margin: 0;
  width: 100vw;
  right: 0;
}

#Archives_title, .li_day{
  display: none;
}

#search_date{
  margin-right: 4vw;
  margin-top: 2vh;
}

#IMG_title_credits, #explanation_txt{
  margin-right: 4vw;
  margin-left: 4vw;
  width: 92vw;
}

#imgotd_overflow::-webkit-scrollbar{
  width: 1px;
} 

#imgotd_overflow::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
} 

#imgotd_overflow::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/* GALLERY RESPONSIVE SM --> */

#galleryImages::-webkit-scrollbar{
  width: 1px;
} 

#galleryImages::-webkit-scrollbar-thumb {
  background-color: white;
} 

.gallery {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 700ms;
}

}

@media (max-width: 730px) {

  /* IMAGE GALLERY */

  .gallery {
    transition-duration: 00ms;
  }

/* GALLERY HEADER */

#header {
  display: flex;
  flex-direction: row;
  justify-content: start;
}


/* GALLERY HEADER : TITLE */

#header h1  {
  left: 0;
  margin-top: 2vh;
  margin-left: 4vw;
  text-align: left;
  width: 50vw;
}

/* GALLERY HEADER :SEARCH */

#header .searchBar {
  margin-top: 2vh;
  margin-left: 5%;
  width: 80%;
  align-items: start;
  }

#searchBar{
  width: 60%;
  height: 1.5rem;
  margin-bottom: 0.5rem;

}

#searchBar:focus {
  outline: none;
}

.searchBar #filters {
  width: 70%;
  margin-left: 0;
}

#filters button {
  padding: 2px 8px 2px 8px;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}


  /* GALLERY GRID */

#galleryImages {
  width: 100vw;
  max-height: 60vh;
  column-gap: 0.2rem;
  row-gap: 0.2rem;

}
/* GALLERY GRID : IMAGE PREVIEW  */

.imagePreviewContainer {
  width: 100%;
}

/* IMAGE SWIPER */

.imageSwiperBody {
  width: 100%;
  height: 80%;
}

.imageDetailBody {
  width: 100%;
  margin-top: 13vh;  
}

.imageDetailBody img{ 
  width: 100%;
  max-height: 80%;
  }

.imageSwiperBody svg{
  height: 3rem;
  opacity: 0.5;
}


#swiperButtonNext {  
  position: absolute;
  right:2vw;
}

#swiperButtonPrevious {
  position: absolute; 
  left:2vw;
}

.imageDetailFooter {
  width: 100%;
}

.imageDetailFooter h2 {
 width: 95%;
}

.imageDetailFooter p {
  opacity: 0.5;
}


}
