@media only screen and (max-width: 430px) {

#scrollbox-inner{
        width: 100%; 
        height: 100vh;
        color: white;
        background-color:black;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        text-align:left;
        top:0;
        overflow: scroll;
        margin-top:1vh;
        margin-right: 0;
      }
#scrollbox-inner::-webkit-scrollbar{
        width: 0px;
        height: 0px;
      } 
      
#scrollbox-inner::-webkit-scrollbar-thumb {
        border-radius: 0px;

      } 

#scrollbox{
        display: flex;
        justify-content: flex-end;
        position : relative;
        z-index: 2;
      } 
      
#article{
        display:flex;
        border : 2px solid #4E545D;
        flex-direction: column;
      
      }

#sidebar-title{
        padding-bottom: 4vh;
        text-align: start;
        color: white;
        top:0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10vh;
        margin-right: 0;
        

      }
.articles_css{
        width: 100%;
      }
      
    #titleArticles {
      border : 10px;
      border-left-style: solid ;
      border-left-color:white;
      padding-bottom: 1px;
      padding-left:8px;
      
      }





}
@media only screen and (max-width: 430px) {

#navbar_container{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 10.7vh;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
}
.icon_container{
    display: flex;
    justify-content: center;
    gap: 12vw;
    width: 100vw;
}
}

@media (max-width: 730px) {

  /* IMAGE GALLERY */
  .gallery {
    transition-duration: 00ms;
  }

/* GALLERY HEADER */

#header {
  display: flex;
  flex-direction: row;
  justify-content: start;
}


/* GALLERY HEADER : TITLE */

#header h1  {
  display: none;
}

/* GALLERY HEADER :SEARCH */

#header .searchBar {
  margin-top: 5rem;
  margin-left: 5%;
  width: 80%;
  align-items: start;
  }

#searchBar{
  width: 60%;
  height: 1.5rem;
  margin-bottom: 0.5rem;

}

#searchBar:focus {
  outline: none;
}

.searchBar #filters {
  width: 70%;
  margin-left: 2.5%;
}

#filters button {
  padding: 2px 4px 2px 4px;
}


  /* GALLERY GRID */

#galleryImages {
  width: 100vw;
  max-height: 60vh;
  column-gap: 0.2rem;
  row-gap: 0.2rem;

}
/* GALLERY GRID : IMAGE PREVIEW  */

.imagePreviewContainer {
  width: 100%;
}

/* IMAGE SWIPER */

.imageSwiperBody {
  width: 100%;
  height: 80%;
}

.imageDetailBody {
  margin-top: 13vh;  
}

.imageDetailBody img{
  object-fit: scale-down;
  width: 100%;
  }


.imageSwiperBody svg{
  height: 3rem;
  opacity: 0.5;
}


#swiperButtonNext {
  bottom: 50vh;
  right:2vw;
}

#swiperButtonPrevious {  
  bottom: 50vh;
  left:2vw;
}

.imageDetailFooter {
  width: 100%;
}

.imageDetailFooter h2 {
 width: 95%;
}

.imageDetailFooter p {
  opacity: 0.5;
}


}
